*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Fonde';
  src: url('Fonts/fonde.ttf') format('truetype');
}

html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  font-family: 'Poppins', sans-serif;
  background-color: #08326b;
}

.welcome-container {
  background-image: url('images/pattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.photo-fade {
  position: relative;
  border-radius: 40px;
  box-shadow: 0 8px 32px rgba(8, 50, 107, 0.5);
  overflow: hidden;
  max-width: 70vw;
}

.photo-fade .main-photo {
  display: block;
  width: auto;
  height: auto;
  max-height: 80vh;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  -webkit-mask-image: radial-gradient(circle, rgba(106, 119, 137, 1) 68%, rgb(8, 50, 107, 0) 100%);
  mask-image: radial-gradient(circle, rgba(106, 119, 137, 1) 68%, rgb(8, 50, 107, 0) 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.photo-fade::before {
  content: "";
  position: relative;
  top: 0; left: 0; right: 0;
  height: 30%;
  border-radius: 20px 20px 0 0;
  background: radial-gradient(circle, rgba(8, 50, 107, 0.4), rgba(255,255,255,0));
  pointer-events: none;
  z-index: 2;
}

.page .title {
  position: absolute;
  top: 11%;
  left: 50.5%;
  transform: translate(-50%, -50%);
  width: 90%;
  font-family: 'Fonde', sans-serif;
  font-size: 7vw;
  color: #08326b;
  text-align: center;
  text-shadow: 0 2px 0px #75859c, 0 4px 35px #08326b;
  pointer-events: none;
  z-index: 9;
}

.close-btn {
  position: absolute;
  top: -10px;
  right: 20px;
  transform: translate(-480%, 240%);
  background: transparent;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(8, 50, 107, 0.5);
  z-index: 10;
}

.page.active {
  display: block;
}

.page {
  display: none;
  text-align: right;
}

.home-container {
  background-image: url('images/formei.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: left;
  align-items: left;
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  transition: background-image 1s ease-in-out, opacity 0.5s ease;
}

.home-container .page .title{
  position: absolute;
  top: 13.5%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 90%;
  font-family: 'Fonde', sans-serif;
  font-size: 9vw;
  color: #08326b;
  text-align: center;
  text-shadow: 0 2px 0px #75859c, 0 4px 35px #08326b;
}

.home-container .page p {
  position: relative;
  top: 20%;
  left: 1.5%;
  width: 34.8%;
  background-color: rgba(80, 105, 141, 0.58);
  padding: 0.1rem 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 550;
  font-size: 1.12vw;
  color: #08326b;
  text-align: right;
  margin-bottom: 0.3%;
  line-height: 1.6;
  border-radius: 5px;
}

.home-container .page p.no-bg {
  position: relative;
  top: 20%;
  left: 1.5%;
  width: 34.8%;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.12vw;
  color: #08326b;
  text-align: right;
}

.subtitle {
  position: absolute;
  top: 76%;
  left: 3%;
  font-family: 'Fonde', sans-serif;
  font-size: 2vw;
  font-weight: 900;
  color: #75859c;
  box-sizing: border-box;
  padding: 10px 20px;
  text-align: center;
  z-index: 1000;
}

.countdown-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 75.5%;
  left: 5%;
  gap: 5px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.circle {
  width: 100px;
  height: 100px;
  overflow: visible;
}

svg {
  width: 100%;
  height: 100%;
  overflow: visible;
}

circle {
  fill: #ffffff80;
  stroke: #ffffff80;
  stroke-width: 4;
}

.number {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  fill: #ffffff80;
  font-weight: bold;
  text-shadow: 0 2px 0px #08326b, 0 4px 35px #ffffff80;
}

text {
  font-size: 1.2rem;
  fill: #ffffff80;
  font-family: 'Poppins', sans-serif;
  text-shadow: 0 2px 0px #08326b, 0 4px 35px #ffffff80;
}

.nav {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1000;
}

.nav-item {
  padding: 10px 20px;
  position: relative;
  background-color: #babdc1;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 550;
  font-size: 1.3vw;
  transition: background-color 0.3s;
}

.nav-item:hover,
.nav-item.active {
  background-color: #4267b2;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.tab-content-container .back-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  color: #08326b;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.2vw;
  cursor: pointer;
  z-index: 1001;
  padding: 10px 10px;
  transition: color 0.3s ease;
}

.tab-content-container .back-btn::before {
  content: "←";
  margin-right: 10px;
}

.tab-content-container .back-btn::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #08326b;
  transition: width 0.6s ease;
  box-shadow: 0 2px 4px rgba(8, 50, 107, 0.5);
}

.tab-content-container .back-btn:hover::after {
  width: 105%;
}

.tab-content-container .back-btn:hover {
  color: #08326b;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display:block;
}

.photo-container {
  position: absolute;
  top: 8%;
  left: 1.2%;
  right: 1.2%;
  width: auto;
  height: 87vh;
  overflow: hidden;
  z-index: 2;
  padding: 10px 0;
  border-radius: 20px;
}

.gallery-track {
  column-count: 4;
  column-gap: 10px;
  animation: scrollVertical 115s linear infinite;
}

.gallery {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 20px;
  break-inside: avoid;
  transition: transform 0.3s;
  z-index: 4;
}

@keyframes scrollVertical {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.tab-content.tab-infos {
  background-image: url('images/info.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tab-content.tab-infos h3 {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  font-family: 'Fonde', sans-serif;
  font-size: 5vw;
  color: #08326b;
  text-align: center;
  text-shadow: 0 2px 0px #75859c, 0 4px 35px #08326b;
  z-index: 10;
} 

.infos-text1 {
  position: absolute;
  top: 18.5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1%;
  width: 80%;
  max-width: 800px;
  z-index: 12;
}

.infos-text1 p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
  color: #08326b;
  text-align: center;
}

.infos-text2 {
  position: absolute;
  bottom: 13%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1%;
  width: 80%;
  max-width: 800px;
  z-index: 12;
}

.infos-text2 p {
  font-family: 'Poppins', sans-serif;
  font-weight: 650;
  font-size: 1.5vw;
  color: #08326b;
  text-align: center;
}

.infos-text3 {
  position: absolute;
  top: 84%;
  left: 85%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1%;
  width: 40%;
  max-width: 800px;
  z-index: 12;
}

.infos-text3 h4 {
  font-family: 'Fonde', sans-serif;
  font-weight: 500;
  font-size: 3vw;
  color: #45648E;
  text-align: center;
}

.infos-text3 p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vw;
  background-color: #8297B1;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  color: #BFC9D4;
  text-align: center;
}

gmp-map {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 27.7%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(8, 50, 107, 0.5);
  overflow: hidden;
  z-index: 15;
}

.photo .logo {
  position: absolute;
  bottom: -15%;
  left: 14.5%;
  transform: translateX(-50%);
  width: auto;
  height: 80%;
  filter: drop-shadow(5px 5px 10px rgba(8, 50, 107, 0.5));
  z-index: 13;
}

.tab-content.tab-rsvp {
  background-image: url('images/fundo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} 

.tab-content.tab-rsvp h5 {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  font-family: 'Fonde', sans-serif;
  font-size: 5vw;
  color: #08326b;
  text-align: center;
  text-shadow: 0 2px 0px #75859c, 0 4px 35px #08326b;
  z-index: 1;
}

.main-login .left-login p {
  position: absolute;
  top: 20%;
  left: 1.9%;
  width: 32.5%;
  max-width: 800px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.12vw;
  color: #08326b;
  text-align: right;
  z-index: 2;
}

.infos-text4 {
  position: absolute;
  bottom: 10%;
  left: 1.9%;
  width: 32.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  z-index: 12;
}

.infos-text4 h6 {
  font-family: 'Fonde', sans-serif;
  font-weight: 700;
  font-size: 2vw;
  color: #45648E;
  text-align: right;
}

#infos-text5 {
  display: none;
  position: absolute;
  top: 65%;
  left: 1.9%;
  width: 32.5%;
  max-width: 800px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.12vw;
  color: #08326b;
  text-align: right;
  z-index: 1000;
}

.left-login .nav {
  position: absolute;
  bottom: 4.8%;
  left: 18.5%;
  display: block;
  flex-direction: column;
  gap: 12px;
  z-index: 1000;
}

.left-login .nav-item {
  padding: 5px 20px;
  position: relative;
  background-color: #d0d3d7;
  color: #45648E;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Fonde', sans-serif;
  font-weight: 700;
  font-size: 2vw;
  transition: background-color 0.3s;
  z-index: 20;
}

.left-login .nav-item:hover,
.left-login .nav-item.active {
  background-color: #4267b2;
  color: #fff;
}

.attendance1 {
  position: absolute;
  top: 48%;
  left: 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.attendance1 button {
  padding: 10px 20px;
  background-color: #babdc1;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 550;
  font-size: 1.3vw;
  transition: background-color 0.3s;
}

.attendance2 {
  position: absolute;
  top: 55%;
  left: 14%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.attendance2 button {
  padding: 10px 20px;
  background-color: #babdc1;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 550;
  font-size: 1.3vw;
  transition: background-color 0.3s;
}

.attendance3 {
  position: absolute;
  top: 62%;
  left: 13%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.attendance3 button {
  padding: 10px 20px;
  background-color: #babdc1;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 550;
  font-size: 1.3vw;
  transition: background-color 0.3s;
}

.attendance1 button:hover, .attendance2 button:hover, .attendance3 button:hover,
.attendance1 button.active, .attendance2 button.active, .attendance3 button.active {
  background-color: #4267b2;
}

.no-response-message {
  position: absolute;
  top: 45%;
  left: 52%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d0d3d7;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(8, 50, 107, 0.5);
  gap: 0.1%;
  width: 30%;
  z-index: 12;
}

.no-response-message p {
  font-family: 'Poppins', sans-serif;
  font-weight: 350;
  font-size: 1.2vw;
  color: #08326b;
  text-align: center;
}

.right-login .card-login {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  top: 19.5%;
  right: 29%;
  width: 60%;
  max-width: 450px;
  background-color: #d0d3d7;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(8, 50, 107, 0.5);
  z-index: 3;
}

.card-login .textfieldN {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2vw;
  color: #08326b;
  z-index: 4;
}

.card-login .textfieldN label {
  display: flex;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #08326b;
  font-size: 1.2vw;
  z-index: 5;
}

.card-login .textfieldN input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
  color: #08326b;
  box-sizing: border-box;
  z-index: 6;
}

.card-login .textfieldN input[type="submit"] {
  background-color: #08326b;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2vw;
  padding: 10px 15px;
  border: none; 
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  z-index: 7;
}

.card-login .textfieldGroup {
  display: flex;
  gap: 10px;
  width: 100%;
}

.card-login .textfieldGroup {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2vw;
  color: #08326b;
  z-index: 4;
}

.card-login .textfieldI {
  flex: 0 0 47.5%;
}

.card-login .textfieldW {
  flex: 0 0 50%;
}

.card-login .textfieldGroup label {
  display: flex;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #08326b;
  font-size: 1.2vw;
  z-index: 5;
}

.card-login .textfieldGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
  color: #08326b;
  box-sizing: border-box;
  z-index: 6;
}

.card-login .textfieldGroup input[type="submit"] {
  background-color: #08326b;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2vw;
  padding: 10px 15px;
  border: none; 
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  z-index: 7;
}

.card-login .textfieldGroupB {
  display: flex;
  gap: 20px;
  width: 100%;
}

.card-login .textfieldGroupB {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2vw;
  color: #08326b;
  z-index: 4;
}

.card-login .textfieldF {
  flex: 0 0 47%;
}

.card-login .textfieldA {
  flex: 0 0 39.3%;
}

.card-login .textfieldGroupB label {
  display: flex;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #08326b;
  font-size: 1.2vw;
  z-index: 5;
}

.card-login .textfieldA select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 40px 10px 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
  color: #08326b;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%2308326b" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
  cursor: pointer;
  width: 100%;
}

.card-login .textfieldA select:focus {
  outline: none;
  border-color: #08326b;
  box-shadow: 0 0 3px rgba(8, 50, 107, 0.5);
}

.radio-group {
  display: flex;
  gap: 20px;
  align-items: center;
}

.radio-group label {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2vw;
  font-weight: 600;
  color: #08326b;
}

.radio-group input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.radio-group label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #08326b;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.radio-group label::after {
  content: '';
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%) scale(1);
  width: 8px;
  height: 8px;
  background-color: #08326b;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  opacity: 0;
}

.radio-group input[type="radio"]:checked + label::after,
.radio-group input[type="radio"]:checked + span::after {
  transform: translateY(-50%) scale(1);
  opacity: 1;
}

.radio-group input[type="radio"]:checked ~ ::after,
.radio-group input[type="radio"]:checked ~ label::after,
.radio-group input[type="radio"]:checked ~ span::after {
  transform: translateY(-50%) scale(1);
  opacity: 1;
}

.radio-group label:has(input[type="radio"]:checked)::after {
  transform: translateY(-50%) scale(1);
  opacity: 1;
}

.radio-group label:hover::before {
  background-color: #e0e6ef;
  border-color: #a2b4d3;
}

.card-login .textfieldD {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2vw;
  color: #08326b;
  z-index: 4;
}

.card-login .textfieldD label {
  display: flex;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #08326b;
  font-size: 1.2vw;
  z-index: 5;
}

.card-login .textfieldD input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
  color: #08326b;
  box-sizing: border-box;
  z-index: 6;
}

.card-login .textfieldGroupC {
  display: flex;
  gap: 20px;
  width: 100%;
}

.card-login .textfieldGroupC {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2vw;
  color: #08326b;
  z-index: 4;
}

.card-login .textfieldS {
  flex: 0 0 40%;
}

.card-login .textfieldM {
  flex: 0 0 40;
}

.card-login .textfieldGroupC label {
  display: flex;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #08326b;
  font-size: 1.2vw;
  z-index: 5;
}

.card-login .textfieldM label {
  display: flex;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #08326b;
  font-size: 1.2vw;
  z-index: 5;
}

.card-login .textfieldM input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
  color: #08326b;
  box-sizing: border-box;
  z-index: 6;
}

.card-login .textfieldM input[type="submit"] {
  background-color: #08326b;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2vw;
  padding: 10px 15px;
  border: none; 
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  z-index: 7;
}

.card-login .textfieldS select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 40px 10px 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
  color: #08326b;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%2308326b" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
  cursor: pointer;
  width: 100%;
}

.card-login .textfieldS select:focus {
  outline: none;
  border-color: #08326b;
  box-shadow: 0 0 3px rgba(8, 50, 107, 0.5);
}

.card-login .textfieldH {
  margin-bottom: 15px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2vw;
  color: #08326b;
  z-index: 10;
}

.card-login .textfieldH label {
  display: flex;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #08326b;
  font-size: 1.2vw;
  z-index: 10;
}

.card-login .textfieldH input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
  color: #08326b;
  box-sizing: border-box;
  z-index: 6;
}

.card-login .textfieldH input[type="submit"] {
  background-color: #08326b;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2vw;
  padding: 10px 15px;
  border: none; 
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  z-index: 7;
}

.card-login .nav {
  position: relative;
  margin-bottom: 5px;
  display: contents;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 0;
}

.card-login .nav .submit.nav-item {
  display: none;
  width: 100.5%;  
  background-color: #75859c;
  color: #45648E;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.8vw;
  transition: background-color 0.3s;
  text-align: center;
}

.card-login .nav .submit.nav-item:hover,
.card-login .nav .submit.nav-item.active {
  background-color: #4267b2;
  border: #08326b;
  color: #fff;
}

.send-response-message {
  position: absolute;
  top: 45%;
  left: 52%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d0d3d7;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(8, 50, 107, 0.5);
  gap: 0.1%;
  width: 30%;
  z-index: 12;
}

.send-response-message p {
  font-family: 'Poppins', sans-serif;
  font-weight: 350;
  font-size: 1.2vw;
  color: #08326b;
  text-align: center;
}

.novaRespostaBtn {
  position: flex;
  top: 55%;
  left: 60%;
  transform: translateX(-50%, -50%);
  background: none;
  border: none;
  color: #08326b;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.2vw;
  cursor: pointer;
  z-index: 1001;
  padding: 10px 10px;
  transition: color 0.3s ease;
}

.novaRespostaBtn::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #08326b;
  transition: width 0.6s ease;
  box-shadow: 0 2px 4px rgba(8, 50, 107, 0.5);
}

.novaRespostaBtn:hover::after {
  width: 105%;
}

.novaRespostaBtn:hover {
  color: #08326b;
}